

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.bg {
  background: url('../img/background.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 380px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

div #main-header{
	display: none;
}

.jumbotron {
	background-color: transparent;
	color: #fff;
	height: 380px;
	margin-bottom: 0;
}

.jumbotron h2 {
	margin-top: 0;
}


body {
	background-color: #f1f1f1;
}

.headshot {
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	top: -20px
}

.buttonh {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	padding: 5 0 10 0px;
}

a:hover {
	text-decoration: none;
}

.s-works img {
	margin: 0 0 20px 0
}


.button-alt {
	background-color: rgba(0, 0, 0, 0.9);
	
}

/************************
Footer
************************/

.navbar-custom {
    background-color:#101518;
    color:#ffffff;
    border-radius:0;
	height: 100px;
}

.navbar-custom .container {
	margin-top: 30px;
}


















