
/* ==========================================================================
   General
   ========================================================================== */

body {
	background-color: #f1f1f1;
}

li {
	list-style: none;
	display: inline;
}

.navbar-custom {
	font-size: 23px;
	text-align: center
}

img {
	margin: 10px 0;
}

/* ==========================================================================
   
   ========================================================================== */
.bg {
  background: url('../img/background.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 380px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron .main-header {
	margin: 110px auto;
}

.jumbotron {
	background-color: transparent;
	color: #fff;
	height: 380px;
	margin-bottom: 0;
}

.jumbotron h2 {
	margin-top: 0;
}

.jumbotron a:hover {
	color: #fff;
}


.headshot {
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	width: 170px;
	height: 170px;
	top: -20px
}

.buttonh {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	padding: 5 0 10 0px;
}


a:hover {
	text-decoration: none;
}

.s-works img {
	margin: 0 0 20px 0
}


.button-alt {
	background-color: rgba(0, 0, 0, 0.9);
	
}

/************************
Footer
************************/

.navbar-custom {
    background-color:#101518;
    color:#ffffff;
    border-radius:0;
	height: 100%;
	padding-top: 15px; 
}

.fa-twitter {
	font-size: 25px;
}

.navbar-custom li {
	margin: 5px 50px 5px 5px;
}

.navbar-custom a {
	color: #fff;
}


















